<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/head-common.html')%>
	<title><%= htmlWebpackPlugin.options.title%> - happymmall电商平台</title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html')%>
	<%= require('html-loader!./layout/head.html')%>
	<div class="crumb">
		<div class="w">
			<a href="./index.html" class="link">MMall</a>
			<span>></span>
			<span class="crumb-item">购物车列表</span>
		</div>
	</div>
	<div class="cart w">
		<div class="cart-table-head">
			<table class="cart-table-list">
				<tr>
					<th class="cart-cell">
						<input id="cart-checked" type="checkbox" class="catr-input">
						<label for="cart-checked" class="cart-label">
							<span>全选</span>
						</label>
					</th>
					<th class="cart-cell">商品信息</th>
					<th class="cart-cell">单价</th>
					<th class="cart-cell">数量</th>
					<th class="cart-cell">合计</th>
					<th class="cart-cell">操作</th>
				</tr>
			</table>
			
		</div>
		<div class="cart-table-list">
			<table class="cart-table-list">
				<tr>
					<th class="cart-cell">
						<input id="cart-checked" type="checkbox" class="catr-input">
						<label for="cart-checked" class="cart-label">
							<span>全选</span>
						</label>
					</th>
					<th class="cart-cell">
						<span class="cart-img">
							<img src="" alt="" class="p-img">
						</span>
						<span class="cart-con">xxxxxx</span>
					</th>
					<th class="cart-cell">￥999</th>
					<th class="cart-cell">999</th>
					<th class="cart-cell">￥1000</th>
					<th class="cart-cell">
						<a class="btn btn-min">删除</a>
					</th>
				</tr>
			</table>
		</div>
		<div class="cart-footer">
			<div class="cart-opera">
				<input id="cart-all-checked" type="checkbox" class="catr-input">
				<label for="cart-all-checked" class="cart-label">
					<span>删除</span>
				</label>
			</div>
			<span class="cart-total">
				总价：
				<span class="cart-total-price">99999</span>
			</span>
			<span class="btn">去结算</span>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')%>
</body>
</html>