/*
* @Author: 第九
* @Date:   2017-10-13 12:28:29
* @Last Modified by:   第九
* @Last Modified time: 2017-10-13 16:20:17
*/
.pg-content{
	text-align: center;
	color: #333;
	user-select: none;
}
.pg-content .pg-item{
	display: inline-block;
	height: 35px;
	line-height: 35px;	
	padding: 0 15px;
	margin:0 2px;
	background: #eee;
	border:1px solid #ccc;
	cursor: pointer;
}
.pg-content .pg-item.disabled{
	color: #ccc;
	background: none;
	cursor: auto;
}
.pg-content .pg-item.active{
	border: 1px solid #f6f6f6;
	background: none;
	cursor: auto;
}
.pg-content .pg-total{
	margin-left: 10px;
}