/*
* @Author: 第九
* @Date:   2017-10-10 16:40:38
* @Last Modified by:   第九
* @Last Modified time: 2017-10-10 16:54:40
*/
.nav-simple{
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #fff;
}
.nav-simple .logo{
	font-size: 28px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}