/*
* @Author: 第九
* @Date:   2017-10-10 09:12:46
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-22 16:10:22
*/
/* css reset */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #f6f6f6;
	font: 12px/1.5 tahoma,arial,microsoft YaHei,sans-serif;
}
li{
	list-style: none;
}
a{text-decoration: none;}
img{
	display: block;
	border:none;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}


/* 定宽布局 */
.w{
	margin: 0 auto;
	width: 1080px;
	position: relative;
	overflow: hidden;
}
/* panel */
.panel{
	margin-bottom: 10px; 
	overflow: hidden;
}
.panel .panel-title{
	padding: 10px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
/* hide */
.hide{
	display: none;
}
/* 超链 */
.link{
	color: #999;
	cursor: pointer;
	text-decoration: none;
}
.link:hover{
	color: #e80012;
}
.link-text{
	color: #999;
	text-decoration: none;
}
/* btn */
.btn{
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height:40px;
	background: #c60023;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	outline: none;
	border: none;
	text-decoration: none;
	user-select: none;
	cursor: pointer;
}
.btn-min{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}
.loading{
	margin: 10px auto;
	width: 65px;
	height: 65px;
	border-radius: 3px;
	border:1px solid #ddd;
	background: url(../../image/icon/loading.gif) no-repeat;
	opacity: .6;
}